@use '../../scss/' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 74px;
    transition: all 0.5s;
    box-shadow: 0 10px 25px 0 rgba(43, 52, 74, .12);
    @include flex(center, center);

    @include md {
        height: 56px;
    }

    &.scrollDown {
        transform: translateY(-100px);
        opacity: 0;
    }

    &.scrollUp {
        opacity: 1;
    }

    &__container {
        @include flex(space-between, center);

        .header__search {
            display: inline-block;
            border-radius: 8px;
            border: 1px solid rgb(233, 233, 233);
            overflow: hidden;
            padding: 0 12px;
            cursor: pointer;
            @include flex(flex-start, center);

            @include pc-1024 {
                display: none;
            }

            &--icon {
                margin-right: 10px;
            }

            input {
                height: 40px;
                border: none;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
            }
        }

        .header__menu {
            gap: 32px;
            list-style: none;

            @include flex(center, center);

            @include pc-1024 {
                display: none;
            }

            &--item {
                font-size: 14px;

                &.logo {
                    font-size: 30px;
                    font-weight: 600;
                }
            }


        }

        .header__actions {
            gap: 16px;
            @include flex(flex-start, center);
        }

        .header__menu--toggle {
            display: none;

            @include pc-1024 {
                display: inline-block;
            }
        }

        .header__logo {
            display: none;

            @include pc-1024 {
                display: inline-block;
            }
        }

    }


}