@use '../../scss/' as *;

.selected-item {
    text-align: center;
}

.controls-container {
    --highlight-width: auto;
    --highlight-x-pos: 0;

    display: flex;

    .controls {
        display: inline-flex;
        justify-content: space-between;
        background-color: rgb(247 247 247);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        max-width: 500px;
        padding: 0 4px;
        margin: auto;
        overflow: hidden;
        position: relative;

        &.ready {

            &::before {
                box-shadow: 0 2px 2px 0 rgba(28, 36, 51, .1);
                transition: transform 0.3s ease, width 0.3s ease;
            }
        }

        .segment {
            /* width: 100%; uncomment for each segment to have matching width */
            min-width: 100px;
            position: relative;
            text-align: center;
            z-index: 1;

            &.active label {
                color: #000;
            }

            &>input {
                opacity: 0;
                margin: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;
                cursor: pointer;
                height: 100%;
            }

            &>label {
                cursor: pointer;
                display: block;
                font-weight: 500;
                padding: 10px;
                transition: color 0.5s ease;
                color: #6C6C70;
            }
        }

        &::before {
            content: "";
            background-color: rgb(255 255 255);
            border-radius: 1rem;
            width: var(--highlight-width);
            transform: translateX(var(--highlight-x-pos));
            position: absolute;
            box-shadow: 0 2px 2px 0 rgba(28, 36, 51, .1);
            top: 4px;
            bottom: 4px;
            left: 0;
            z-index: 0;
        }
    }
}